@import "../../styles/variables.module";

@mixin flex {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  @include flex;
  flex: 1;
  align-items: flex-start;
  margin: 30px 0;
  letter-spacing: 1.4px;

  @media (max-width: 1420px) {
    margin: 20px 0;
  }
}

.box_button {
  display: flex;
  justify-content: space-between;
  gap: 240px;
  width: 100%;
  height: 80px;

  & .button {
    width: 100%;
    display: flex;
    flex-direction: column;

    & span {
      text-align: center;
      color: $grey-color;
      font-size: 12px;
      margin-top: 7px;
      opacity: .8;

      @media (max-width: 650px) {
        font-size: 11px;
      }
    }
  }
}

@media (max-width: 1080px) {
  .box_button {
    gap: 80px;
  }
}

@media (max-width: 450px) {
  .box_button {
    gap: 30px;
  }
}

.chart {
  width: 100%;
  position: relative;
  color: $text-color;

  &_field {
    @include flex;
    align-items: center;
    margin: 10px 0 70px;
    background: $gradient-button;
    border-radius: 20px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    height: 500px;

    @media (max-width: 1420px) {
      margin: 5px 0;
    }

    @media (max-width: 450px) {
      padding: 10px 0;
    }

    & .info__toolkit {
      position: absolute;
      top: 145px;
      z-index: 999;
      min-width: 320px;
      min-height: 100px;
      padding: 15px;
      border-radius: 15px;
      background-color: #213A58;
      display: none;
      align-items: center;
      justify-content: center;

      &.visible__toolkit {
        display: flex;
      }

      @media (max-width: 650px) {
        min-width: 280px;
        max-width: 280px;
      }

      & .close__toolkit {
        border: none;
        background-color: inherit;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 7px;
        right: 7px;
        background-image: url("../../assets/icons/close.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15px;
        border-radius: 50%;
        transition: all 0.2s ease;

        &:hover {
          cursor: pointer;
          background-color: rgba(250, 250, 250, .2);
        }

        &:active {
          background-color: rgba(250, 250, 250, .3);
        }
      }

      & .text__toolkit {
        color: $text-color;
        text-align: center;
        line-height: 20px;

        @media (max-width: 650px) {
          font-size: 12px;
        }
      }
    }
  }

  .calendar {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 80px;
    position: absolute;
    bottom: 75px;

    @media (max-width: 1420px) {
      bottom: 10px;
    }

    @media (max-width: 650px) {
      bottom: 31px;
    }

    @media (max-width: 450px) {
      padding: 10px 10px 10px 50px;
    }

    & .calendar__container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      & .calendar__day {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 340px;
        max-width: 34px;

        & .calendar__column {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 7px;

          & .hours__work {
            opacity: 1;
            font-size: 12px;
            letter-spacing: .5px;

            @media (max-width: 1280px) {
              font-size: 11px;
            }
          }

          & .day__column {
            width: 24px;
            max-height: 195px;
            border-radius: 3px;
            background: $gradient-column;
            margin-bottom: 10px;
            transition: all .2s ease;

            &:hover {
              cursor: pointer;
              box-shadow: $box-shadow;
            }

            &:active {
              box-shadow: none
            }

            @media (max-width: 650px) {
              width: 20px;
            }
          }
        }


        & .day__num {
          margin-top: 8px;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: rgba(250, 250, 250, .3);
            border-radius: 50%;
            cursor: pointer;
          }

          &:active {
            background-color: rgba(250, 250, 250, .4);
          }

          @media (max-width: 650px) {
            font-size: 14px;
            margin-top: 7px;
          }

          &.day__pale {
            opacity: .5;
          }

          &.day__mark {
            background-color: rgba(250, 250, 250, .4);
            border-radius: 50%;
          }
        }
      }
    }

    & .calendar__month {
      width: 100%;
      height: 53px;
      display: flex;
      padding-top: 15px;
      justify-content: space-between;
      align-items: center;

      & .hours {
        position: relative;
        //min-width: 200px;
        height: 43px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3px;

        @media (max-width: 850px) {
          position: absolute;
          bottom: 5px;
        }

        & .hours__info {
          margin-top: auto;
          display: flex;
          align-items: center;
          gap: 10px;

          & .toggleBtn {
            opacity: .6;
            transition: all .2s ease;

            &:hover {
              cursor: pointer;
              opacity: 1;
            }
          }

          & .hours__text {
            font-size: 12px;
            color: rgba(250, 250, 250, .6);
            padding-left: 5px;

          }
          &.hours__info_right {
            margin-left: auto;
          }
        }

        & .hours_month {
          bottom: -12px;
        }
      }


      & .hours__prev {
        font-size: 12px;
        line-height: 18px;
        display: flex;
        gap: 8px;

        @media (max-width: 850px) {
          font-size: 10px;
        }

        .hours__week {
          background-color: rgba(250, 250, 250, .2);
          border-radius: 10px;
        }

        & span {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1.5px;
          display: inline-block;
          color: rgba(250, 250, 250, .8);
          transition: all .2s ease;
          padding: 2px 7px;

          &:hover {
            cursor: pointer;
            color: rgba(250, 250, 250, 1);
          }

          @media (max-width: 850px) {
            font-size: 11px;
            font-weight: 400;
            opacity: .7;
          }
        }
      }

      & .month {
        position: absolute;
        left: 47.5%;

        @media (max-width: 900px) {
          bottom: 25px;
        }
      }
    }

    & .calendar__intervals {
      width: 100%;
      height: 75px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      padding: 7px 15px;
      //background-color: rgba(250, 250, 250, .2);
      background-color: #025A68;
      border-radius: 10px;

      & .calendar__intervals_date {
        font-size: 14px;
        opacity: .8;
        position: absolute;
        top: 12%;
        left: 44%;
      }

      & .calendar__intervals_field {
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        & .calendar__intervals_box {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          overflow-x: auto;
          padding: 5px 0;

          &::-webkit-scrollbar {
            height: 8px;
            transition: all ease .2s;
          }

          // Дорожка скролла (фон)
          &::-webkit-scrollbar-track {
            background: inherit;
            border-radius: 2px;
          }

          &::-webkit-scrollbar-thumb {
            background: $main-back-color;
            border-radius: 10px;
            transition: all .2s ease;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #1c324a;
          }

          & .calendar__intervals_container {
            display: flex;
            justify-content: flex-start;
          }
        }

        & .calendar__intervals_add {
          width: 28px;
          height: 26px;
          background-color: rgba(255, 255, 255, .4);
          border-radius: 50%;
          background-image: url("../../assets/icons/add.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          transition: all .2s ease;

          &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, .6);
          }

          &:active {
            background-color: rgba(255, 255, 255, .7);
          }

        }
      }
    }

  }

  & .chart__arrow {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: inherit;
    position: absolute;
    bottom: 50%;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease;

    @media (max-width: 950px) {
      width: 32px;
      height: 32px;
      background-size: 16px;
    }

    &_left {
      left: -55px;
      background-image: url("../../assets/icons/left-arrow.png");

      @media (max-width: 950px) {
        left: -45px;
      }

      @media(max-width: 768px) {
        bottom: 40px;
        left: 10px;
      }
    }

    &_right {
      right: -55px;
      background-image: url("../../assets/icons/right-arrow.png");

      @media (max-width: 950px) {
        right: -45px;
      }

      @media(max-width: 768px) {
        bottom: 40px;
        right: 10px;
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: pointer;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.timer {
  width: 120px;
  padding: 5px 0;
  font-size: 16px;
  border-radius: 99px;
  background: $light-green-color;
  box-sizing: border-box;
  text-align: center;

  @media (max-width: 650px) {
    font-size: 14px;
  }
}

.time {
  @include flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  padding: 10px 20px 250px;
  box-sizing: border-box;
  position: relative;

  @media (max-width: 650px) {
    padding: 15px 20px 230px;
  }

  & p {
    opacity: .6;
    font-size: 16px;
    display: block;

    @media (max-width: 450px) {
      font-size: 14px;
    }

    & span {
      font-size: 12px;
    }
  }

  & div {
    width: 100%;
    border-bottom: 2px solid $orange-color;
    opacity: .8;
  }

  & div p {
    text-decoration: none;
  }

  & hr {
    border: none;
    width: 96%;
    height: 2px;
    background-color: $main-back-color;
    margin: 1px 0;
    opacity: .3;
    position: absolute;

    @media (max-width: 450px) {
      width: 95%;
    }

  }

  & .time__top {
    top: 27px;

    @media (max-width: 650px) {
      top: 31px;
    }
  }

  & .time__bottom {
    top: 210px;

    @media (max-width: 650px) {
      top: 283px;
    }
  }
}

.interval {
  height: 8px;
  opacity: .7;
  transition: all .2s ease;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.time__interval {
  font-size: 11px;
  opacity: .8;
}