
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.author {
  p {
    text-align: center;
    color: #fff;
    opacity: .6;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-width: 80px;
  min-height: 20px;
  margin-top: 10px;
}

.telegram {
  width: 26px;
  height: 26px;
  background-image: url("../../assets/icons/telega.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1);
  transition: transform .2s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.github {
  width: 26px;
  height: 26px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/icons/github.png");
  transform: scale(1);
  transition: transform .2s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}


